<!DOCTYPE html>
<html>
<head>
  <title>Job-Applicaton.AI</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    /* Adjust the height of the heading */
    .tall-heading {
	 height: 100px;
	 font-size: 70px;
    }
    /* Add some margin to the buttons */
    .buttons {
      margin-top: 10px;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-end">
    </div>
    <div class="row">
      <div class="col-md-12">
	      <center><h1 class="tall-heading">Job-Applicaton.AI</h1></center>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="name">Full Name</label>
        <input type="text" id="name" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="companyName">Name of the company</label>
        <input type="text" id="companyName" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="Position">Position</label>
        <input type="text" id="Position" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="sectorOfTheCompany">Sector</label>
        <input type="text" id="sectorOfTheCompany" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="positionNow">Position now (leave empty if you are not working)</label>
        <input type="text" id="positionNow" class="form-control">
      </div>
    </div>
	<div class="row">
	  <div class="col-md-6">
	    <label for="multiline">Education</label>
	    <textarea id="education" class="form-control" rows="4"></textarea>
	  </div>
	  <div class="col-md-6">
	    <label for="multiline">Skills</label>
	    <textarea id="skills" class="form-control" rows="4"></textarea>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	    <label for="multiline">Work experience</label>
	    <textarea id="workExperience" class="form-control" rows="4"></textarea>
	  </div>
	  <div class="col-md-6">
	    <label for="multiline">Job description</label>
	    <textarea id="jobDescription" class="form-control" rows="4"></textarea>
	  </div>
	</div>

    <br><br>
    <div class="row">
      <div class="col-md-12">
	      <center><a href="{% url 'download' %}" download><button class="btn btn-primary btn-lg" >Submit</button></center></a>
      </div>
    </div>
  </div>
</body>
</html>
