<!DOCTYPE html>
<html>
<head>
  <title>Job-Applicaton.AI</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <style>
    /* Adjust the height of the heading */
    .tall-heading {
	 height: 100px;
	 font-size: 70px;
    }
    /* Add some margin to the buttons */
    .buttons {
      margin-top: 10px;
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-end">
    </div>
    <div class="row">
      <div class="col-md-12">
	      <center><h1 class="tall-heading">Job-Applicaton.AI</h1></center>
      </div>
    </div>
    <form action="getJsonData">
    <div class="row">
      <div class="col-md-6">
        <label for="name">Full Name</label>
        <input name = "name" type="text" id="name" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="companyName">Name of the company</label>
        <input name="companyName" type="text" id="companyName" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="Position">Position</label>
        <input name="Position" type="text" id="position" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="sectorOfTheCompany">Sector</label>
        <input name="sector" type="text" id="sectorOfTheCompany" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="positionNow">Position now (leave empty if you are not working)</label>
        <input name="positionNow" type="text" id="positionNow" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="companyNow">Company now (leave empty if you are not working)</label>
        <input name="companyNow" type="text" id="companyNow" class="form-control">
      </div>
    </div>
	<div class="row">
	  <div class="col-md-6">
	    <label for="multiline">Education</label>
	    <textarea name="education" id="education" class="form-control" rows="4"></textarea>
	  </div>
	  <div class="col-md-6">
	    <label for="multiline">Skills</label>
	    <textarea name="skills" id="skills" class="form-control" rows="4"></textarea>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-6">
	    <label for="multiline">Work experience</label>
	    <textarea name="experience" id="experience" class="form-control" rows="4"></textarea>
	  </div>
	  <div class="col-md-6">
	    <label for="multiline">Achievements</label>
	    <textarea name="achievements" id="achievements" class="form-control" rows="4"></textarea>
	  </div>
	</div>	
	<div class="row">
	  <div class="col-md-6">
	    <label for="multiline">Side Projects</label>
	    <textarea name="sideProjects" id="sideProjects" class="form-control" rows="4"></textarea>
	  </div>
	  <div class="col-md-6">
	    <label for="multiline">Job description</label>
	    <textarea name="jobDescription" id="jobDescription" class="form-control" rows="4"></textarea>
	  </div>
	</div>

    <br><br>
    <div class="row">
      <div class="col-md-12">
	      <center><button id="submit" class="btn btn-primary btn-lg" onclick = "submit()">Submit</button></center>
      </div>
    </div>
  </div>
</form>
	<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

</body>
</html>
